@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Store</h2>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Collection)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.UnitPrice</td>
                <td><a class="btn btn-sm btn-success" asp-page-handler="Buy" asp-route-id="@item.Id">Buy</a></td>
            </tr>
        }
    </tbody>
</table>
